<body>
    <main>
        <div class="container">
            <p id="demo"></p>
            <div id="myBtn" title="Back to top">
                <i>
                    <img src="img/arrowtothetop.png" alt="">
                </i>
            </div>
            <section class="mainsection">
                <h1>Енциклопедія відвідувачів магічних сновидінь</h1>
                {{#each users}}
                <div class="petBlock">
                    <div class="photo">
                        <img class="photoimg"  src='/uploads/{{this.Img}}' alt="">
                    </div>
                    <h2>Ім'я: {{this.Name}} </h2>
                    <h3>Вік: {{this.Age}}</h3>
                    <p>Біографія: {{this.Bio}}</p>
                </div>
                {{/each}}
            </section>
            <section class="addBlockSection">
                <div class="container">
                    <div class="addblock">
                        <div class="close">
                            <div></div>
                            <div class="divtwo"></div>
                        </div>
                        <h2>Рзкажіть про своїх магічних істот!</h2>
                        <p>Але спочатку заповність анкету</p>

                        <div class="wrapper">
                            <div class="input-data">
                                <input type="text" style="border: none;" class="nameinput" required>
                                <label>Ім'я</label>
                            </div>
                        </div>


                        <div class="wrapper">
                            <div class="input-data">
                                <input type="text" style="border: none;" class="ageinput" required>
                                <label>Вік</label>
                            </div>
                        </div>

                        <div class="wrapper">
                            <div class="input-data">
                                <input type="text" style="border: none;" class="biopet" required>
                                <label>Біографія</label>
                            </div>
                        </div>
                        <div class="wrapper-for-file_input">
                            <label for="fileInput">Виберіть Фотографію</label>
                            <input type="file" id="fileInput" accept="image/*" class="inputac"><br>
                        </div>
                        <button type="submit" class="sent">Відправити</button>
                    </div>

                </div>
            </section>
        </div>

    </main>
    <script src="js/animal.js"></script>
    <script>
        jQuery(document).ready(function(){   
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 600) {
                    jQuery('#myBtn').css('opacity', '1');
                } else {
                    jQuery('#myBtn').css('opacity', '0');
                }
            });

            jQuery('#myBtn').click(function () {
                jQuery('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });
</script>
</body>